.header {
  background-color: #FFFFFF !important;

  .header-title {
    margin-right: 2rem !important;
    font-family: monospace !important;
    font-weight: 700 !important;
    letter-spacing: .3rem !important;
    color: black !important;
    text-decoration: none !important;
  }
}


